@tailwind base;

@tailwind components;

#jambalaya button {
    outline: none;
    cursor: pointer;
}
#jambalaya input {
    outline: none;
}
#jambalaya p {
    padding: 0;
    margin: 0;
}
#jambalaya label {
    font-weight: 600;
}

@variants hover, group-hover {
    .svg-gray-100 {
        fill: theme('colors.gray.100');
        stroke: theme('colors.gray.100');
    }
    .svg-gray-300 {
        fill: theme('colors.gray.300');
        stroke: theme('colors.gray.300');
    }
    .svg-gray-500 {
        fill: theme('colors.gray.500');
        stroke: theme('colors.gray.500');
    }
    .svg-gray-600 {
        fill: theme('colors.gray.600');
        stroke: theme('colors.gray.600');
    }
    .svg-gray-700 {
        fill: theme('colors.gray.700');
        stroke: theme('colors.gray.700');
    }
    .svg-gray-900 {
        fill: theme('colors.gray.900');
        stroke: theme('colors.gray.900');
    }
    .svg-primary {
        fill: theme('colors.primary');
        stroke: theme('colors.primary');
    }
}

@tailwind utilities;