<template>
  <div id="jam-mde">
    <Clabel label='Content' />
    <codemirror
      ref="cmEditor"
      :value="value"
      :options="cmOptions"
      @ready="onCmReady"
      @focus="onCmFocus"
      @input="onCmCodeChange"
    />
  </div>
</template>

<script>
import { codemirror } from './vcm/index'
import 'codemirror/mode/markdown/markdown.js'
import 'codemirror/addon/edit/continuelist.js'

import Clabel from '../../../components/shared/Clabel.vue'

export default {
  components: {
    codemirror,
    Clabel
  },
  props: {
    value: {
      type: String,
      required: true
    },
    onChange: {
      type: Function,
      required: true
    }
  },
  data () {
    return {
      cmOptions: {
        tabSize: 2,
        mode: 'markdown',
        theme: 'base16-dark',
        line: true,
        lineWrapping: true
      }
    }
  },
  methods: {
    onCmReady (cm) {
      // console.log("the editor is readied!", cm);
    },
    onCmFocus (cm) {
      // console.log("the editor is focused!", cm);
    },
    onCmCodeChange (newCode) {
      // console.log("this is new code", newCode);
      this.onChange(newCode)
    }
  },
  computed: {
    codemirror () {
      return this.$refs.cmEditor.codemirror
    }
  },
  mounted () {
    // console.log("the current CodeMirror instance object:", this.codemirror);
    // you can use this.codemirror to do something...
    this.codemirror.setOption('extraKeys', {
      'Enter': 'newlineAndIndentContinueMarkdownList'
    })
  }
}
</script>

<style scoped lang="scss">
  #jam-mde {
    padding: 0 0 32px 0;
  }
</style>

<style>
@import './codemirror.css';
@import './base16-dark.css';

#jam-mde .CodeMirror {
  height: 320px;
  font-family: "Open Sans", monospace;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(51, 51, 51, .5);
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(16, 16, 16);
}
</style>
