<template>
  <EditorView>
    <template v-slot:headerinfo>
      <p class="jamtitle" v-if="newInvalid">Create new content</p>
      <p class="jamtitle" v-else>{{`Create new - ${newTitle}.md`}}</p>
      <p class="jaminfo">{{`${sBrowse.selectedFolder}/${newTitle || 'file-name'}.md`}}</p>
    </template>
    <div class="jam-new">
      <Cinput v-model="newTitle" label="File name" v-on:input="onNewInput" alphanum ref="newTitle" />
      <clabel label="Select folder" />
      <Tree height="240px" disableOpen />
      <div class="jam-new-cta">
        <Cbutton text="Cancel" v-bind:onClick="onNewCancel" secondary />
        <Cbutton text="Add content" v-bind:onClick="onNewSubmit" v-bind:disable="newInvalid" />
      </div>
    </div>
  </EditorView>
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'
import Cbutton from '../shared/Button.vue'
import Cinput from '../shared/Cinput.vue'
import Clabel from '../shared/Clabel.vue'
import EditorView from '../shared/EditorViews.vue'
import Tree from '../shared/Tree.vue'

export default {
  name: 'NewContent',
  props: {},
  components: {
    Cbutton,
    Cinput,
    Clabel,
    EditorView,
    Tree
  },
  data () {
    return {
      newInvalid: true,
      newTitle: ''
    }
  },
  computed: {
    ...mapState([
      'sBrowse',
      {
        selectedFolder: 'selectedFolder'
      }
    ]),
    ...mapGetters('sSave', {
      recentChanges: 'recentChanges'
    })
  },
  methods: {
    ...mapActions('sEdit', {
      newContent: 'newContent'
    }),
    ...mapMutations('sView', {
      setActiveView: 'setActiveView'
    }),
    onNewSubmit () {
      // Need to check if it is empty or not to know if it needs a slash
      if (String(this.files.selectedFolder).length === 0) {
        this.newContent(`${this.files.selectedFolder}${this.newTitle}.md`)
      } else {
        this.newContent(`${this.files.selectedFolder}/${this.newTitle}.md`)
      }
    },
    onNewInput () {
      if (this.newTitle.length > 0) {
        this.newInvalid = false
      } else {
        this.newInvalid = true
      }
    },
    onNewCancel () {
      this.setActiveView()
    }
  }
}
</script>

<style scoped lang="scss">
.jam-new {
  margin: 32px 16px 0 16px;
}
.jam-new .cinput {
  margin: 0 0 32px 0;
}
.jam-new-string {
  padding: 32px 0 0 0;
  font-weight: 600;
}
.jam-new-invalid {
  opacity: 0.2;
}
.jam-new-cta {
  padding: 32px 16px 16px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.jam-new-cta .jam-btn {
  margin: 0 0 0 8px;
}
</style>
