<template>
  <viewcontainer v-bind:modalsOpen="newModalOpen">
    <template v-slot:headerinfo>
      <p class="jamtitle">Version: Current</p>
      <p class="jaminfo">{{fileTreeCount}} Files · {{changesListCount}} Changes</p>
    </template>

    <Tree classes="h-16x mt-1x"/>

    <template v-slot:modals>
      <Cmodal
        v-if="newModalOpen"
        title="Add new content"
        v-bind:onPrimary="onNewSubmit"
        v-bind:onSecondary="onNewClose"
        PrimaryLabel="Add content"
        v-bind:disable="!newModalValid"
      >
        <template v-slot:content>
          <div class="jam-modal-path">path: {{sBrowse.selectedFolder}}/</div>
          <Cinput
            v-model="newTitle"
            label="File name"
            v-on:input="onNewInput"
            alphanum
            ref="newTitle"
          />
        </template>
      </Cmodal>
    </template>
  </viewcontainer>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import Cicon from '../components/Cicon.vue'
import Cinput from '../../components/shared/Cinput'
import Cmodal from '../../components/shared/Cmodal.vue'
import Tree from '../components/Tree.vue'
import Viewcontainer from '../components/ViewContainer.vue'

export default {
  name: 'Browse',
  props: {},
  components: {
    Cicon,
    Cinput,
    Cmodal,
    Tree,
    Viewcontainer
  },
  data () {
    return {
      newOptions: ['Add content'],
      newModalOpen: false,
      newModalValid: false,
      newTitle: ''
    }
  },
  computed: {
    ...mapState([
      'sBrowse',
      {
        selectedFolder: 'selectedFolder'
      }
    ]),
    ...mapGetters('sBrowse', {
      fileTreeCount: 'fileTreeCount'
    }),
    ...mapGetters('sSave', {
      changesListCount: 'changesListCount'
    })
  },
  methods: {
    ...mapActions('sEdit', {
      newContent: 'newContent'
    }),
    onNew () {
      this.newModalOpen = true
    },
    onNewSubmit () {
      // Need to check if it is empty or not to know if it needs a slash
      if (String(this.sBrowse.selectedFolder).length === 0) {
        this.newContent(`${this.sBrowse.selectedFolder}${this.newTitle}.md`)
      } else {
        this.newContent(`${this.sBrowse.selectedFolder}/${this.newTitle}.md`)
      }
    },
    onNewInput () {
      if (this.newTitle.length > 0) {
        this.newModalValid = true
      } else {
        this.newModalValid = false
      }
    },
    onNewClose () {
      this.newModalOpen = false
    }
  }
}
</script>

<style scoped lang="scss">
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 32px 16px 0 16px;
}
.info {
  padding: 0 0 0 16px;
}
.headerend {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
}
.headerend .cIcon {
  margin: 0 0 0 16px;
}
.fileslist {
  padding: 16px 16px 16px 16px;
}
.jam-modal-path {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 8px 0;
}
</style>
