<template>
  <viewcontainer>
    <template v-slot:headerinfo>
      <p class="jamtitle">{{name}}</p>
      <p class="jaminfo">{{sEdit.currentlyEditing}}</p>
    </template>
    <template v-slot:headericon>
      <Cmenu v-bind:options="moreOptions" v-bind:onSelect="onMore">
        <Cicon icon="dots" classes="svg-gray-500 hover:svg-gray-300 "/>
      </Cmenu>
    </template>
    <div v-if="sEdit.editorDataStatus === 'loaded'">
      <tabs />
      <div class="options">
        <div v-for="(item) in editorDataFields" v-bind:key="item.id">
          <Cinput
            v-if="item.type === 'input'"
            v-model="item.value"
            v-bind:label="item.label"
            v-on:input="onFieldChange($event, item.id)"
          />
          <Cselect
            v-else-if="item.type === 'select'"
            v-model="item.value"
            v-bind:label="item.label"
            v-bind:options="item.options"
            v-on:input="onFieldChange($event, item.id)"
          />
          <Cradiogroup
            v-else-if="item.type === 'radio'"
            v-bind:value="item.value"
            v-bind:label="item.label"
            v-bind:options="item.options"
            v-on:input="onFieldChange($event, item.id)"
          />
          <Ccheckboxgroup
            v-else-if="item.type === 'checkbox'"
            v-bind:value="item.value"
            v-bind:label="item.label"
            v-bind:options="item.options"
            v-on:input="onFieldChange($event, item.id)"
          />
          <MDE
            v-if="item.type === 'content' || editorDataActiveTab === 'no tabs'"
            v-bind:value="editorDataFrontmatter.content"
            v-bind:onChange="onContentChange"
          ></MDE>
        </div>
      </div>
    </div>
    <Cstatus v-else-if="sEdit.editorDataStatus === 'no file selected'" status="message" error="Select a file to edit" />
    <Cstatus v-else v-bind:status="sEdit.editorDataStatus" />
  </viewcontainer>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

import Ccheckboxgroup from '../../components/shared/Ccheckboxgroup'
import Cicon from '../components/Cicon.vue'
import Cinput from '../../components/shared/Cinput.vue'
import Cmenu from '../../components/shared/Cmenu.vue'
import Cradiogroup from '../../components/shared/Cradiogroup.vue'
import Cselect from '../../components/shared/Cselect.vue'
import Cstatus from '../../components/shared/Cstatus.vue'
import Ctextarea from '../../components/shared/Ctextarea.vue'
import MDE from '../components/MarkdownEditor/MarkdownEditor.vue'
import Tabs from '../components/EditTabs.vue'
import Viewcontainer from '../components/ViewContainer.vue'

export default {
  name: 'ViewEdit',
  props: {},
  components: {
    Ccheckboxgroup,
    Cicon,
    Cinput,
    Cmenu,
    Cradiogroup,
    Cselect,
    Cstatus,
    Ctextarea,
    MDE,
    Tabs,
    Viewcontainer
  },
  data () {
    return {
      moreOptions: ['Discard changes', 'Save changes to this file']
    }
  },
  computed: {
    ...mapState([
      'sEdit',
      {
        currentlyEditing: 'currentlyEditing',
        editorDataStatus: 'editorDataStatus'
      }
    ]),
    ...mapGetters('sEdit', [
      'editorDataFrontmatter',
      'editorDataFields',
      'editorDataActiveTab'
    ]),
    name () {
      const pathname = String(this.sEdit.currentlyEditing)
      const name = pathname.substring(pathname.lastIndexOf('/') + 1)
      return name
    },
    current () {
      return this.sEdit.currentlyEditing
    }
  },
  created () {
    this.getEditorData()
  },
  watch: {
    current: function () {
      this.getEditorData()
    }
  },
  methods: {
    ...mapActions('sEdit', {
      getEditorData: 'getEditorData',
      updateDataContent: 'updateDataContent',
      updateDataFrontmatter: 'updateDataFrontmatter'
    }),
    ...mapActions('sSave', {
      discardChanges: 'discardChanges',
      saveChanges: 'saveChanges'
    }),
    onMore (selected) {
      if (selected === 'Discard changes') {
        this.discardChanges(this.sEdit.currentlyEditing)
      } else if (selected === 'Save changes to this file') {
        this.saveChanges([this.sEdit.currentlyEditing])
      }
    },
    onContentChange (value) {
      this.updateDataContent(value)
    },
    onFieldChange (value, index) {
      this.updateDataFrontmatter({ id: index, value: value })
    }
  }
}
</script>

<style scoped lang="scss">
.options .cinput {
  padding: 0 0 32px 0;
}
</style>
