<template>
  <div id="jam-login">
    <div id="jam-logo">
      <Logo />
    </div>
    <div class="text-2xl">Jambalaya</div>

    <div v-if="authState === 'need config'">
      <div class="jam-instruct">Jambalaya needs to be configured to work with your site.</div>
      <div class="jam-login-cta">
        <Btn
          text="Configure"
          v-bind:onClick="this.onConfigure"
          v-bind:working="authState === 'loading'? true : false"
        />
        <Btn
          text="Learn more"
          secondary
          :onClick="onLearn"
          v-bind:working="authState === 'loading'? true : false"
        />
      </div>
    </div>

    <div v-else>
      <div
        class="jam-instruct"
      >Enter your personal access token from GitLab to connect to your repository.</div>
      <Cinput v-model="tokeninput" password placeholder="Enter your token" />
      <div class="jam-login-cta">
        <Btn
          text="Login"
          :onClick="onLogIn"
          v-bind:working="authState === 'loading'? true : false"
        />
      </div>
      <div v-if="authState === 'error'" class="error">Log in failed, please try agin</div>
    </div>

    <div class="offset" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Cinput from '../../components/shared/Cinput.vue'
import Btn from '../../components/shared/Button.vue'
import Logo from '../icons/Logo.vue'

export default {
  name: 'Login',
  props: {},
  components: {
    Cinput,
    Btn,
    Logo
  },
  data () {
    return {
      tokeninput: ''
    }
  },
  computed: mapState(['authState']),
  methods: {
    ...mapActions(['logIn']),
    onLogIn: function () {
      this.logIn(this.tokeninput)
    },
    onConfigure: function () {
      window.open('https://jambalaya.co/config/')
    },
    onLearn: function () {
      window.open('https://jambalaya.co/docs/config/')
    }
  }
}
</script>

<style scoped>
#jam-login {
  height: 100%;
  padding: 0 36px 0 36px;
  animation: load 2.4s;
}
#jam-logo {
  @apply mt-4x mb-2x font-light;
  width: 144px;
}
.jam-instruct {
  @apply pt-2x pb-1x;
}
.jam-login-cta {
  font-size: 32px;
  padding: 12px 0 0 0;
  text-align: left;
}
.jam-login-cta .jam-btn {
  margin: 0 8px 0 0;
}
.offset {
  height: 200px;
}
.error {
  padding: 24px 0 0 0;
  color: rgb(255, 77, 152);
  text-align: left;
  animation: fadein 1.2s;
}
@keyframes load {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  100% {opacity: 100;}
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
