<template>
  <div id="jam-app">
    <div id="jam-layout">
      <filetabs />
      <div id="container">
        <edit v-if="sView.activeView === 'edit'"/>
        <browse v-else-if="sView.activeView === 'browse'"/>
        <div v-else-if="sView.activeView === 'new'">New</div>
        <save v-else-if="sView.activeView === 'publish'"/>
      </div>
      <viewtabs />
    </div>
    <div id="jam-modals" v-if="modalsOpen">
      <slot name="modals"></slot>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import Browse from '../views/Browse.vue'
import Edit from '../views/Edit.vue'
import Filetabs from '../components/FileTabs.vue'
import Save from '../views/Save.vue'
import Viewtabs from '../components/ViewTabs.vue'

export default {
  name: 'JamApp',
  props: {
    modalsOpen: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  components: {
    Browse,
    Edit,
    Filetabs,
    Save,
    Viewtabs
  },
  computed: {
    ...mapState([
      'sView',
      {
        activeView: 'activeView'
      }
    ])
  },
  methods: {
  }
}
</script>

<style scoped lang="scss">
#jam-app {
  @apply bg-gray-700 rounded-lg text-sm font-semibold overflow-hidden;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 999999;
    width: 640px;
    height: 640px;
    font-size: 16px;
}
#jam-layout {
  @apply grid text-sm font-semibold text-left h-full;
  grid-template-columns: 1fr 64px;
  grid-template-rows: 40px 1fr 64px;
  grid-template-areas:
    "filetabs filetabs"
    "container container"
    "viewtabs viewtabs"
  ;
}
@media only screen and (min-width: 1280px) {
 #jam-layout {
    grid-template-areas:
      "filetabs viewtabs"
      "container viewtabs"
      "container viewtabs"
    ;
  }
}
#container {
  grid-area: container;
  overflow-y: auto;
}
#container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
</style>
