<template>
  <viewcontainer v-bind:modalsOpen="discardModalOpen">
    <template v-slot:headerinfo>
      <p class="jamtitle">Publish changes</p>
    </template>
    <template v-slot:headericon>
      <Cmenu v-bind:options="moreOptions" v-bind:onSelect="onMore">
        <Cicon icon="dots" classes="svg-gray-500 hover:svg-gray-300 "/>
      </Cmenu>
    </template>
    <Clabel v-bind:label="listLabel"/>
    <div id="jam-changelist">
      <SaveListItem
        v-for="(value, name, index) in sSave.changesList"
        v-bind:key="index"
        v-bind:id="name"
        v-bind:type="value.type"
        v-bind:file="name"
        v-bind:checked="value.checked"
        v-bind:onClick="onSaveListItem"
      />
    </div>
    <div id="jam-save-actions">
      <Cbutton
        v-bind:text="sSave.saveStatus === 'loading' ? 'Publishing changes' : 'Publish changes'"
        :onClick="onSaveChanges"
        v-bind:working="sSave.saveStatus === 'loading'"
      />
    </div>

    <template v-slot:modals>
      <Cmodal
        v-if="discardModalOpen"
        title="Discard all changes"
        v-bind:onPrimary="onDiscardSubmit"
        v-bind:onSecondary="onDiscardClose"
        PrimaryLabel="Discard changes"
      >
        <template v-slot:content>Are you sure? This can not be undone.</template>
      </Cmodal>
    </template>
  </viewcontainer>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import Cicon from '../components/Cicon.vue'
import SaveListItem from '../components/SaveListItem.vue'
import Cbutton from '../../components/shared/Button.vue'
import Clabel from '../../components/shared/Clabel.vue'
import Cmenu from '../../components/shared/Cmenu'
import Searchbar from '../../components/shared/Searchbar.vue'
import Cmodal from '../../components/shared/Cmodal.vue'
import Viewcontainer from '../components/ViewContainer.vue'

export default {
  name: 'ViewEdit',
  props: {},
  components: {
    Cbutton,
    Cicon,
    Clabel,
    Cmenu,
    Cmodal,
    Searchbar,
    SaveListItem,
    Viewcontainer
  },
  data () {
    return {
      moreOptions: ['Discard all changes'],
      discardModalOpen: false
    }
  },
  computed: {
    ...mapState([
      'sSave',
      {
        changesList: 'changesList',
        saveStatus: 'saveStatus'
      }
    ]),
    ...mapGetters('sSave', {
      changesListCount: 'changesListCount',
      changesListCheckedCount: 'changesListCheckedCount'
    }),
    listLabel () {
      if (this.changesListCount === this.changesListCheckedCount) {
        return `${this.changesListCount} files changed`
      } else {
        return `${this.changesListCount} files changed - ${this.changesListCheckedCount} selected`
      }
    }
  },
  methods: {
    ...mapMutations('sSave', {
      toggleChangesListItem: 'toggleChangesListItem'
    }),
    ...mapActions('sSave', {
      saveCheckedChanges: 'saveCheckedChanges',
      discardAllChanges: 'discardAllChanges'
    }),
    onSaveChanges () {
      this.saveCheckedChanges()
    },
    onSaveListItem (id) {
      this.toggleChangesListItem(id)
    },
    onMore (value) {
      if (value === 'Discard all changes') {
        this.discardModalOpen = true
      }
    },
    onDiscardSubmit () {
      this.discardModalOpen = false
      this.discardAllChanges()
    },
    onDiscardClose () {
      this.discardModalOpen = false
    }
  }
}
</script>

<style scoped lang="scss">
#jam-save-actions {
  @apply mt-1x;
}
#jam-changelist {
  @apply bg-gray-900 h-16x rounded-lg p-1x;
}
</style>
