<template>
  <div id="jambalaya" class="jambalaya">

    <div id="jam-app" v-if="authState === 'logged in' || authState === 'demo'">
      <filetabs />
      <div id="jam-views">
        <edit v-if="sView.activeView === 'edit'" />
        <browse v-else-if="sView.activeView === 'browse'" />
        <div v-else-if="sView.activeView === 'new'">New</div>
        <save v-else-if="sView.activeView === 'publish'" />
        <div id="jam-views-fade"></div>
      </div>
      <viewtabs />
    </div>

    <Login v-else />

  </div>
</template>

<script>
import store from './store/index'
import { mapState, mapActions } from 'vuex'

import Browse from './vue/views/Browse.vue'
import Edit from './vue/views/Edit.vue'
import Filetabs from './vue/components/FileTabs.vue'
import Login from './vue/views/Login.vue'
import Save from './vue/views/Save.vue'
import Viewtabs from './vue/components/ViewTabs.vue'

export default {
  store,
  name: 'Jamedit',
  props: {
    msg: String
  },
  components: {
    Browse,
    Edit,
    Filetabs,
    Login,
    Save,
    Viewtabs
  },
  data () {
    return {
      activeid: 'nobody'
    }
  },
  computed: {
    ...mapState(['authState']),
    ...mapState([
      'sView',
      {
        activeView: 'activeView'
      }
    ])
  },

  mounted () {
    this.init()
  },
  methods: {
    ...mapActions(['init'])
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
#jambalaya {
  @apply bg-gray-700 rounded-lg text-gray-300 text-sm font-semibold overflow-hidden;
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 999999;
    width: 640px;
    height: 640px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
#jam-app {
  @apply grid text-sm font-semibold text-left h-full;
  grid-template-columns: 1fr 64px;
  grid-template-rows: 40px 1fr 64px;
  grid-template-areas:
    "filetabs filetabs"
    "container container"
    "viewtabs viewtabs"
  ;
}
@media only screen and (min-width: 1280px) {
 #jam-app {
    grid-template-areas:
      "filetabs viewtabs"
      "container viewtabs"
      "container viewtabs"
    ;
  }
  position: relative;
}
#jam-views {
  grid-area: container;
  overflow-y: auto;
}
#jam-views::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.jamtitle {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  line-height: 24px;
}
.jaminfo {
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  line-height: 14px;
}
#jam-views-fade {
  z-index: 999999;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32px;
  background-image: linear-gradient(rgba(36, 36, 36, 0), rgba(36, 36, 36, 1));
}

</style>
