<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M5 21H14C15.105 21 16 20.105 16 19V8.28601C16 7.18101 15.105 6.28601 14 6.28601H5C3.895 6.28601 3 7.18101 3 8.28601V19C3 20.105 3.895 21 5 21Z"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"
    />
    <path
      d="M7.5 13.64H11.5"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"
    />
    <path
      d="M9.5 11.64V15.64"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"
    />
    <path
      d="M8 6.286V5C8 3.895 8.895 3 10 3H19C20.105 3 21 3.895 21 5V16C21 17.105 20.105 18 19 18H16"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"
    />
  </svg>
</template>
