<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g  stroke="none">
      <path
        d="M19,2c1.65,0,3,1.35,3,3v14c0,1.65-1.35,3-3,3H5c-1.65,0-3-1.35-3-3V5c0-1.65,1.35-3,3-3H19 M19,1H5
        C2.8,1,1,2.8,1,5v14c0,2.2,1.8,4,4,4h14c2.2,0,4-1.8,4-4V5C23,2.8,21.2,1,19,1L19,1z"
      />
      <path
        class="st0"
        d="M12,9c1.65,0,3,1.35,3,3s-1.35,3-3,3s-3-1.35-3-3S10.35,9,12,9 M12,8c-2.21,0-4,1.79-4,4s1.79,4,4,4s4-1.79,4-4
        S14.21,8,12,8L12,8z"
      />
      <g>
        <circle cx="22" cy="12" r="1" />
      </g>
      <path
        d="M13,24h-2c-0.55,0-1-0.45-1-1v-4c0-0.55,0.45-1,1-1h2c0.55,0,1,0.45,1,1v4C14,23.55,13.55,24,13,24z"
      />
    </g>
  </svg>
</template>
