<template>
  <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg">
    <g>
      <g>
        <path
          class="logo-st0"
          d="M36,46.42c-6.48,0-11.76-5.28-11.76-11.76c0-6.48,5.28-11.76,11.76-11.76c6.48,0,11.76,5.28,11.76,11.76
          C47.76,41.15,42.48,46.42,36,46.42z M36,23.05c-6.4,0-11.61,5.21-11.61,11.61S29.6,46.27,36,46.27s11.61-5.21,11.61-11.61
          S42.4,23.05,36,23.05z"
        />
      </g>
      <path
        class="logo-st0"
        d="M66.51,36.24c-0.78-0.11-1.38-0.78-1.38-1.59c0-0.81,0.6-1.48,1.38-1.59h0.15V9.58c0-3.07-2.51-5.58-5.58-5.58
        H10.92C7.85,4,5.34,6.51,5.34,9.58v50.16c0,3.07,2.51,5.58,5.58,5.58h50.16c3.07,0,5.58-2.51,5.58-5.58v-23.5H66.51z M66.51,59.74
        c0,3-2.43,5.43-5.43,5.43H10.92c-3,0-5.43-2.43-5.43-5.43V9.58c0-3,2.43-5.43,5.43-5.43h50.16c3,0,5.43,2.43,5.43,5.43v23.34
        c-0.86,0.11-1.53,0.86-1.53,1.74c0,0.89,0.67,1.64,1.53,1.74V59.74z"
      />
      <g>
        <path
          class="logo-st1"
          d="M39.23,68h-6.44c-0.67,0-1.22-0.55-1.22-1.22V53.93h8.89v12.85C40.45,67.45,39.9,68,39.23,68z"
        />
      </g>
    </g>
  </svg>
</template>

<style type="text/css">
    .logo-st0 {
        fill: #cccccc;
        stroke: #cccccc;
        stroke-width: 0.5;
        stroke-miterlimit: 10;
    }
    .logo-st1 {
        fill: #ed1e79;
    }
</style>
