<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g
      stroke-linecap="round"
      stroke-width="1.5"
      fill="none"
      stroke-linejoin="round"
    >
      <line x1="16" x2="12" y1="5" y2="5" />
      <path
        d="M20 7h-3c-.552 0-1-.448-1-1v-2c0-.552.448-1 1-1h3c.552 0 1 .448 1 1v2c0 .552-.448 1-1 1Z"
      />
      <line x1="16" x2="12" y1="12" y2="12" />
      <path
        d="M20 14h-3c-.552 0-1-.448-1-1v-2c0-.552.448-1 1-1h3c.552 0 1 .448 1 1v2c0 .552-.448 1-1 1Z"
      />
      <line x1="8" x2="12" y1="5" y2="5" />
      <path
        d="M4 2h2c1.105 0 2 .895 2 2v2c0 1.105-.895 2-2 2h-2c-1.105 0-2-.895-2-2v-2c0-1.105.895-2 2-2Z"
      />
      <path
        d="M20 21h-3c-.552 0-1-.448-1-1v-2c0-.552.448-1 1-1h3c.552 0 1 .448 1 1v2c0 .552-.448 1-1 1Z"
      />
      <path d="M16 19h-3c-.552 0-1-.448-1-1v-13" />
    </g>
  </svg>
</template>
