<template>
  <div class="cIcon" :style="cssVars" v-bind:class="classes">
    <div class="jam-icon">
      <component :is="iComp"></component>
    </div>
    <div class="jam-icon-circle :hover" v-if="!hideHover"></div>
  </div>
</template>

<script>
import Add from '../icons/Content-EditPlus-Add.vue'
import Close from '../icons/Interface-EssentialDelete-Disabled.vue'
import Caret from '../icons/Interface-Essential-Arrow.vue'
import Default from '../icons/Default.vue'
import Disk from '../icons/Disk.vue'
import Document from '../icons/Content-EditDocument.vue'
import Dots from '../icons/Dots.vue'
import DotsH from '../icons/DotsH.vue'
import Edit from '../icons/ContentEdit-ContentEditPen.vue'
import Tree from '../icons/Programing-DataPrograming-Data.vue'

export default {
  name: 'Cicon',
  props: {
    icon: {
      type: String,
      required: false,
      default: 'default'
    },
    hideHover: {
      type: Boolean,
      required: false,
      default: false
    },
    size: {
      value: [String, Array],
      required: false,
      default: '24px'
    },
    classes: {
      type: String,
      required: false,
      default: 'svg-gray-300 hover:svg-gray-100'
    }
  },
  components: {
    Add,
    Close,
    Caret,
    Default,
    Disk,
    Document,
    Dots,
    DotsH,
    Edit,
    Tree
  },
  computed: {
    iComp () {
      switch (this.icon) {
        case 'add':
          return 'Add'
        case 'caret':
          return 'Caret'
        case 'close':
          return 'Close'
        case 'disk':
          return 'Disk'
        case 'document':
          return 'Document'
        case 'dots':
          return 'Dots'
        case 'dotsh':
          return 'DotsH'
        case 'edit':
          return 'Edit'
        case 'tree':
          return 'Tree'
        default:
          return 'Default'
      }
    },
    cssVars () {
      return {
        '--icon-size': this.size
      }
    }
  }
}
</script>

<style scoped lang="scss">
.cIcon {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  flex-basis: var(--icon-size);
  flex-grow: 0;
  flex-shrink: 0;
  @apply transition-all duration-300;
}
.jam-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}
.jam-icon-circle {
  @apply absolute rounded-full;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background-color: rgba(255, 255, 255, 0.05);
  opacity: 0;
}
.cIcon:hover .jam-icon-circle {
  opacity: 1;
}
</style>
