<template>
  <div
    class="jam-edittabs"
    v-bind:class="[editorDataActiveTab === 'no tabs' ? 'jam-edittabs-none' : '']"
  >
    <button
      role="tab"
      v-for="tab in editorDataTabs"
      v-bind:key="tab.title"
      class="jam-edittabs-tab group"
      v-bind:class="[
        tab === editorDataActiveTab ? 'jam-edittabs-active' : '',
      ]"
      v-on:click="onTabClick(tab)"
    >
      <label class="jam-edittabs-label">{{ tab }}</label>
    </button>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import Cicon from '../components/Cicon.vue'

export default {
  name: 'EditTabs',
  props: {},
  components: {
    Cicon
  },
  data () {
    return {
      tabs: [
        { title: 'Content' },
        { title: 'Settings' }
      ],
      activeTab: 'Content'
    }
  },
  computed: {
    ...mapGetters('sEdit', [
      'editorDataTabs',
      'editorDataActiveTab'
    ])
  },
  methods: {
    ...mapMutations('sEdit', {
      setEditorViewState: 'setEditorViewState'
    }),
    onTabClick (clicked) {
      this.setEditorViewState({
        active: clicked,
        offset: 0
      })
    }
  }
}
</script>

<style scoped lang="scss">
.jam-edittabs {
  grid-area: filetabs;
  @apply flex -ml-.5x;
}

.jam-edittabs-none {
  @apply -mt-1x
}

.jam-edittabs-tab {
  @apply h-2x px-.5x text-gray-300 transition-all duration-300;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.jam-edittabs-tab:hover {
  @apply text-gray-100;
}
.jam-edittabs-active {
  @apply bg-gray-700 text-gray-100 border-gray-500;
}

.jam-edittabs-label {
  @apply whitespace-no-wrap;
}
</style>
