<template>
  <SlickList
    class="jam-filetabs"
    lock-axis="x"
    axis="x"
    lockToContainerEdges
    lockOffset="0px"
    v-bind:draggedSettlingDuration="100"
    v-bind:distance="4"
    helperClass="jam-filetabs-drag"
    v-on:input="onSort"
    v-bind:value="capFileTabs"
  >
    <SlickItem
      v-for="(tab, index) in capFileTabs.slice(0, 4)"
      v-bind:key="tab.id"
      v-bind:index="index"
    >
      <button
        role="tab"
        class="jam-filetabs-tab group"
        v-bind:class="[
          sView.activeView === 'edit' && tab.id === sEdit.currentlyEditing ? 'jam-filetabs-active' : '',
        ]"
        v-on:click="onTabClick(tab.id)"
      >
        <label class="jam-filetabs-label" >{{ tab.title }}</label>
        <div class="jam-filetabs-hide"></div>
        <div class="jam-filetabs-icon" v-on:click.stop="onTabCloseClick(tab.id)">
          <cicon
            icon="close"
            hideHover
            v-bind:classes="tab.title === sEdit.currentlyEditing ?
              'svg-gray-500 group-hover:svg-gray-500 transition-colors duration-200' :
              'svg-gray-600 group-hover:svg-gray-500 transition-colors duration-200'"
            on
          />
        </div>
      </button>
    </SlickItem>
    <div v-if="sFile.fileTabs.length > 4" class="jam-filetabs-more">
      <Cmenu v-bind:options="moreOptions" v-bind:onSelect="onTabClick">
        <Cicon icon="dotsh" hideHover classes="svg-gray-500 hover:svg-gray-300 "/>
      </Cmenu>
    </div>
  </SlickList>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import Cicon from '../components/Cicon.vue'
import Cmenu from '../../components/shared/Cmenu.vue'

import { SlickList, SlickItem } from 'vue-slicksort'

export default {
  name: 'FileTabs',
  props: {},
  components: {
    Cicon,
    Cmenu,
    SlickItem,
    SlickList
  },
  computed: {
    ...mapState([
      'sFile',
      {
        fileTabs: 'fileTabs'
      }
    ]),
    ...mapState([
      'sEdit',
      {
        currentlyEditing: 'currentlyEditing'
      }
    ]),
    ...mapState([
      'sView',
      {
        activeView: 'activeView'
      }
    ]),
    capFileTabs () {
      let capped = this.sFile.fileTabs || []
      /* for (let i = 0; i < 4; i++) {
        if (this.sFile.fileTabs[i]) {
          capped.push(this.sFile.fileTabs[i])
        }
      }
      */
      return capped
    },
    moreOptions () {
      let options = []
      this.sFile.fileTabs.map(elm => {
        options.push(elm.id)
      })
      return options
    }
  },
  data () {
    return {
      ttabs: [
        { id: 'one.md', title: 'one.md' },
        { id: 'two.md', title: 'two.md' },
        { id: 'three.md', title: 'three.md' },
        { id: 'four.md', title: 'four.md' }
      ]
    }
  },
  methods: {
    ...mapActions('sFile', {
      openFile: 'openFile',
      closeFile: 'closeFile'
    }),
    ...mapMutations('sFile', {
      setFileTabs: 'setFileTabs'
    }),
    onTabClick (id) {
      this.openFile(id)
    },
    onTabCloseClick (id) {
      // Make sure this called with .stop so we are also trying to open the file.
      this.closeFile(id)
    },
    onSort (list) {
      this.setFileTabs(list)
    }
  }
}
</script>

<style scoped lang="scss">
.jam-filetabs {
  grid-area: filetabs;
  @apply flex pt-.5x pl-1x bg-gray-900 border-b border-gray-600;
  max-width: 576px;
}

.jam-filetabs-tab {
  @apply grid items-center justify-start h-2x pl-1x w-8x bg-gray-900
          overflow-hidden
          rounded-t-lg text-gray-300;
  border-top: 1px solid theme('colors.gray.900');
  border-bottom: 1px solid theme('colors.gray.600');
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  grid-template-columns: theme('spacing.4x') 1fr theme('spacing.2x');
}
.jam-filetabs-tab:hover {
  @apply text-gray-100;
}
.jam-filetabs-active {
  @apply bg-gray-700 text-gray-100 border-gray-600;
  border-bottom: 1px solid theme('colors.gray.700');
}
.jam-filetabs-label {
  @apply text-xs overflow-x-visible
          font-normal whitespace-no-wrap
          transition-colors duration-200;
}
.jam-filetabs-hide {
  @apply h-full flex-shrink-0;
  background-image: linear-gradient(
    90deg,
    rgba(13, 13, 13, 0),
    rgba(13, 13, 13, 1)
  );
}
.jam-filetabs-active .jam-filetabs-hide {
  background-image: linear-gradient(
    90deg,
    rgba(36, 36, 36, 0),
    rgba(36, 36, 36, 1)
  );
}
.jam-filetabs-drag {
  z-index: 9999999;
}

.jam-filetabs-icon {
  @apply h-full pr-.5x flex-center bg-gray-900;
}
.jam-filetabs-active .jam-filetabs-icon {
  @apply bg-gray-700;
}
.jam-filetabs-more {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
</style>
