<template>
    <div class="jam-save-listitem" v-on:click="onClick(id)">
      <div class="jam-save-listitem-checkbox">
        <Ccheckbox v-bind:value="file" v-bind:checked="checked" />
      </div>
      <div class="jam-save-listitem-details">
        <p>{{file}}</p>
      </div>
    </div>
</template>

<script>
import Ccheckbox from '../../components/shared/Ccheckbox.vue'

export default {
  name: 'SaveListItem',
  components: {
    Ccheckbox
  },
  props: {
    id: {
      type: String,
      required: true
    },
    type: {
      type: String,
      required: true
    },
    file: {
      type: String,
      required: true
    },
    checked: {
      type: Boolean,
      required: true
    },
    onClick: {
      type: Function,
      required: true
    }
  },
  computed: {

  }
}
</script>

<style scoped lang="scss">
.jam-save-listitem {
    @apply flex pb-.5x;
    user-select: none;
}
.jam-save-listitem-checkbox {
  pointer-events: none;
}
.jam-save-listitem-details {
  @apply pl-.25x text-gray-300;
  font-weight: 400;
}

</style>
