<template>
    <div class="jamfilesfile" draggable="true" v-on:drag="onDrag" v-on:dblclick="ondblClick">
        <div class="jamfileicon">
            <Cicon icon="document" size="16px" color="rgba(255, 255, 255, .6)" hideHover/>
        </div>
        <div class="jamfilename">
            {{name}}
        </div>
        <div class="jamfileaction" v-on:click="onAction">
            <Cicon icon="dots" size="16px" color="rgba(255, 255, 255, .1)" hideHover/>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import Cicon from './Cicon.vue'

export default {
  name: 'File',
  components: {
    Cicon
  },
  props: {
    name: {
      type: String,
      required: true
    },
    path: {
      type: String,
      required: true
    },
    disableOpen: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    ...mapState(['sBrowse'])
  },
  methods: {
    ...mapMutations('sBrowse', {
      setDraggedFile: 'setDraggedFile'
    }),
    ...mapActions('sFile', {
      openFile: 'openFile'
    }),
    ondblClick () {
      if (!this.disableOpen) {
        this.openFile(this.path)
      }
    },
    onDrag () {
      if (this.path !== this.sBrowse.currentlyDragging.path) {
        this.setDraggedFile({ name: this.name, path: this.path })
      }
    },
    onAction () {

    }
  }
}
</script>

<style scoped lang="scss">
.jamfilesfile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -4px 0 -4px;
    padding: 4px 4px 4px 4px;
    user-select: none;
}
.jamfilesfile:hover {
    background-color: rgba(255, 255, 255, .1);
}
.jamfilename {
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.jamfileicon {
    flex-grow: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 0 0 0;
    padding: 0 8px 0 0;
}
.jamfileaction {
    flex-grow: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: -6px 0 0 0;
    padding: 0 8px 0 0;
    opacity: 0;
}
.jamfilesfile:hover .jamfileaction {
    opacity: 1;
}
</style>
