<template>
    <div
        class="jamfilesfolder"
        v-bind:class="isOver ? 'jamfolderover' : ''"
    >
        <div
            class="jamfolderheader"
            v-bind:class="path === selectedFolder ? 'jamfolderselected' : ''"
            v-on:click="onFolderClick"
            v-on:dragover="onDragOver"
            v-on:dragleave="onDragLeave"
            v-on:drop="onDragDrop"
        >
            <div class="jam-folder-toggle" v-on:click.stop="onToggle"/>
            <div class="jamfoldericon" v-bind:class="isOpen ? 'jamfoldericonopen' : '' ">
                <Cicon icon="caret" size="24px" color="rgba(255, 255, 255, .6)" hideHover/>
            </div>
            <div class="jamfoldername">
                {{name}}
            </div>
            <div class="jamfolderaction" v-on:click.stop="onAction">
                <Cicon icon="dots" size="16px" color="rgba(255, 255, 255, .1)" hideHover/>
            </div>
        </div>
        <div class="jamfolderkids" v-if="isOpen" >
            <Folder
                v-for="(item) in folders"
                v-bind:key="item.path"
                v-bind:name="item.name"
                v-bind:path="item.path"
                v-bind:kids="kids"
                v-bind:disableOpen="disableOpen"
            />
            <div
                v-on:click="onClick"
                v-on:dragover="onDragOver"
                v-on:dragleave="onDragLeave"
                v-on:drop="onDragDrop"
            >
                <File
                    v-for="(item) in files"
                    v-bind:key="item.path"
                    v-bind:name="item.name"
                    v-bind:path="item.path"
                    v-bind:disableOpen="disableOpen"
                />
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import File from './TreeFile.vue'
import Folder from './TreeFolder.vue'
import Cicon from './Cicon.vue'

export default {
  name: 'Folder',
  components: {
    File,
    Folder,
    Cicon
  },
  props: {
    name: {
      type: String,
      required: false
    },
    path: {
      type: String,
      required: true
    },
    kids: {
      type: Array,
      required: false
    },
    expanded: {
      type: Boolean,
      required: false,
      default: true
    },
    disableOpen: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      isOpen: this.expanded,
      isOver: false
    }
  },
  computed: {
    ...mapState('sBrowse', {
      selectedFolder: 'selectedFolder',
      currentlyDragging: 'currentlyDragging'
    }),
    folders () {
      return this.kids.filter((item) => {
        if (item.type === 'folder') {
          if (`${this.path}/${item.name}` === item.path) {
            return item
          } if (this.path + item.name === item.path) {
            return item
          }
        }
      })
    },
    files () {
      return this.kids.filter((item) => {
        if (item.type === 'file') {
          if (`${this.path}/${item.name}` === item.path) {
            return item
          } if (this.path + item.name === item.path) {
            return item
          }
        }
      })
    }
  },
  methods: {
    ...mapMutations('sBrowse', {
      setSelectedFolder: 'setSelectedFolder'
    }),
    onClick () {
      this.setSelectedFolder(this.path)
    },
    onToggle (e) {
      e.preventDefault()
      this.isOpen = !this.isOpen
      this.setSelectedFolder(this.path)
    },
    onFolderClick (e) {
      if (this.selectedFolder === this.path) {
        this.isOpen = !this.isOpen
      }
      this.setSelectedFolder(this.path)
    },
    onDragOver () {
      event.preventDefault()
      if (!this.isOver) {
        if (
          `${this.path}/${this.currentlyDragging.name}` !== this.currentlyDragging.path &&
                    this.path + this.currentlyDragging.name !== this.currentlyDragging.path
        ) {
          this.isOver = true
        }
      }
    },
    onDragLeave () {
      this.isOver = false
    },
    onDragDrop () {
      this.isOver = false
    },
    onAction () {
      event.preventDefault()
    }
  }
}
</script>

<style scoped lang="scss">
.jamfilesfolder {
    padding: 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .2s linear
}
.jamfolderover {
    background-color: rgba(255, 255, 255, .06);
}
.jamfolderheader {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 0 -4px;
    padding: 4px 0 4px 4px;
    cursor: pointer;
}
.jam-folder-toggle {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: -8px;
  z-index: 999;
}
.jamfolderheader:hover {
    background-color: rgba(255, 255, 255, .1);
}
.jamfolderaction {
    flex-grow: 0;
    background-color: rgba(255, 255, 255, 0);
    margin: -6px 0 0 0;
    padding: 0 8px 0 0;
    opacity: 0;
}
.jamfolderheader:hover .jamfolderaction {
    opacity: 1;
}
.jamfolderselected {
    background-color: rgba(76, 42, 255, .2);
}
.jamfolderselected:hover {
    background-color: rgba(76, 42, 255, .3);
}
.jamfoldericon {
    transform: rotate(-90deg);
    transition: transform .1s linear;
    flex-grow: 0;
}
.jamfoldericonopen {
    transform: rotate(0deg);
  transition: transform .1s linear;
}
.jamfoldername {
    flex-grow: 1;
    padding: 0 0 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.jamfolderkids {
    margin: 0 0 0 6px;
    padding: 0 0 0 10px;
    border-left: 1px solid rgba(255, 255, 255, .2);
}

</style>
