<template>
    <div class="jam-tree" v-bind:class="classes">
      <div class="fileslist" v-if="sBrowse.fileTreeStatus === 'loaded'">
        <Folder
          v-if="sBrowse.fileTreeStatus === 'loaded'"
          name="Content"
          path
          v-bind:kids="sBrowse.fileTree"
          expanded
          v-bind:disableOpen="disableOpen"
        />
      </div>
      <Cstatus v-else v-bind:status="sBrowse.fileTreeStatus" error="Error loading the file tree" />
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Cicon from './Cicon.vue'
import Cstatus from '../../components/shared/Cstatus.vue'
import File from './TreeFile.vue'
import Folder from './TreeFolder.vue'

export default {
  name: 'Tree',
  props: {
    classes: {
      type: String,
      required: false,
      default: ''
    },
    disableOpen: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  components: {
    Cicon,
    Cstatus,
    File,
    Folder
  },
  data () {
    return {
      newOptions: ['Add content'],
      newModalOpen: false,
      newModalValid: false,
      newTitle: ''
    }
  },
  computed: {
    ...mapState([
      'sBrowse',
      {
        fileTreeStatus: 'fileTreeStatus',
        fileTree: 'fileTree',
        selectedFolder: 'selectedFolder'
      }
    ]),
    folderList () {
      return this.sBrowse.fileTree.filter(item => item.type === 'folder')
    },
    fileList () {
      return this.sBrowse.fileTree.filter(item => item.type === 'file')
    }
  },
  created () {
    if (this.sBrowse.fileTreeStatus === 'needed') {
      this.getFileTree()
    }
  },
  methods: {
    ...mapActions('sBrowse', {
      getFileTree: 'getFileTree'
    })
  }
}
</script>

<style scoped lang="scss">
.jam-tree {
  margin: 0 0 16px 0;
  background-color: rgb(16, 16, 16);
  overflow-y: auto;
  @apply rounded-lg h-full;
}
.fileslist {
  padding: 16px 16px 16px 16px;
}
</style>
