<template>
  <div id="jam-viewtabs">
    <button class="w-4x h-2.5x flex-center">
      <Cicon icon="caret" />
    </button>
    <button
      role="tab"
      v-for="(tab, index) in sView.views"
      v-bind:key="tab.id"
      class="w-4x h-4x flex-center"
       v-on:click="onTabClick(index, tab.id)">
      <cicon
        v-bind:icon="tab.icon"
        v-bind:classes="index === tabPosition ? 'svg-gray-100' : 'svg-gray-300'"
      />
    </button>
    <div id="jam-viewtabs-highlight" v-bind:style="highlighStyle"></div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import Cicon from '../components/Cicon.vue'

export default {
  name: 'ViewTabs',
  props: {},
  components: {
    Cicon
  },
  data () {
    return {
      tabPosition: 0
    }
  },
  computed: {
    ...mapState([
      'sView',
      {
        views: 'views',
        activeView: 'activeView'
      }
    ]),
    highlighStyle () {
      for (var i = 0; i < this.sView.views.length; i += 1) {
        if (this.sView.views[i]['id'] === this.sView.activeView) {
          return { top: `${64 * i + 48}px` }
        }
      }
      return { display: 'none' }
    }
  },
  methods: {
    ...mapMutations('sView', {
      setActiveView: 'setActiveView'
    }),
    onTabClick (value, id) {
      this.setActiveView(id)
      this.tabPosition = value
    }
  }
}
</script>

<style scoped lang="scss">
#jam-viewtabs {
  grid-area: viewtabs;
  @apply relative bg-gray-700 border-l border-gray-900 rounded-r-lg;
}
#jam-viewtabs-highlight {
  @apply absolute w-.25x h-2.5x bg-primary;
  right: 0;
  transition: top;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  transition-duration: 0.4s;
}
</style>
