<template>
  <div id="jam-view">
    <div id="jam-header">

      <div id="jam-header-text">
        <slot name="headerinfo"></slot>
      </div>

      <div class="headerend">
        <slot name="headericon"></slot>
      </div>

    </div>

    <slot></slot>

    <div id="jam-modals" v-if="modalsOpen">
      <slot name="modals"></slot>
    </div>

  </div>
</template>

<script>
import Cicon from './Cicon.vue'

export default {
  name: 'EditorViews',
  props: {
    modalsOpen: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  components: {
    Cicon
  }
}
</script>

<style scoped lang="scss">
#jam-view {
  @apply px-2x pt-1x pb-1x flex flex-col h-full;
}
#jam-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  @apply pb-1x;
}
.headerend {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0 0 0 auto;
}
.options {
  padding: 32px 0 0 0;
}
.options .cinput {
  padding: 0 0 32px 0;
}
#jam-modals {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

</style>
