<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g fill="none">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M19,21h-14c-1.105,0 -2,-0.895 -2,-2v-14c0,-1.105 0.895,-2 2,-2h14c1.105,0 2,0.895 2,2v14c0,1.105 -0.895,2 -2,2Z"
      />
    </g>
  </svg>
</template>
