<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g
      stroke-linecap="round"
      stroke-width="1.5"
      fill="none"
      stroke-linejoin="round"
    >
      <path
        d="M13.433,3.067c4.255,0.715 7.5,4.407 7.5,8.865c0,4.971 -4.029,9 -9,9c-4.458,0 -8.15,-3.245 -8.865,-7.5"
      />
      <path d="M3.067,10.433c0.095,-0.565 0.242,-1.11 0.437,-1.634" />
      <path d="M6.197,4.998c-0.437,0.361 -0.838,0.762 -1.199,1.199" />
      <path d="M10.433,3.067c-0.565,0.095 -1.111,0.243 -1.634,0.438" />
      <path d="M12.391,7v5.391h-4.391" />
    </g>
  </svg>
</template>
