<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M20.698,13.296l-7.402,7.402c-0.716,0.716 -1.877,0.716 -2.593,0l-7.402,-7.402c-0.716,-0.716 -0.716,-1.877 0,-2.593l7.402,-7.402c0.716,-0.716 1.877,-0.716 2.593,0l7.402,7.402c0.716,0.717 0.716,1.877 0,2.593Z"
      stroke-linecap="round"
      stroke-width="1.5"
      fill="none"
      stroke-linejoin="round"
    />
  </svg>
</template>
