<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g fill="none">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M18.414 6.414l-2.828-2.828c-.375-.375-.884-.586-1.414-.586h-7.172c-1.105 0-2 .895-2 2v14c0 1.105.895 2 2 2h10c1.105 0 2-.895 2-2v-11.172c0-.53-.211-1.039-.586-1.414Z"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M19 8h-4c-.552 0-1-.448-1-1v-4"
      />
      <line
        x1="16"
        x2="11.25"
        y1="11.12"
        y2="11.12"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
      />
      <line
        x1="16"
        x2="11.25"
        y1="14"
        y2="14"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
      />
      <line
        x1="16"
        x2="11.25"
        y1="16.88"
        y2="16.88"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M8.125 11c-.069 0-.125.056-.125.125 0 .069.056.125.125.125 .069 0 .125-.056.125-.125 0-.069-.056-.125-.125-.125"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M8.125 13.875c-.069 0-.125.056-.125.125 0 .069.056.125.125.125 .069 0 .125-.056.125-.125 0-.069-.056-.125-.125-.125"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M8.125 16.75c-.069 0-.125.056-.125.125 0 .069.056.125.125.125 .069 0 .125-.056.125-.125 0-.069-.056-.125-.125-.125"
      />
    </g>
  </svg>
</template>
