<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g fill="none">
      <path
        stroke="#FFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M12,13.12v-3.74"
      />
      <path
        stroke="#FFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M11.999,16.125c-0.138,0 -0.25,0.112 -0.249,0.25c0,0.138 0.112,0.25 0.25,0.25c0.138,0 0.25,-0.112 0.25,-0.25c0,-0.138 -0.112,-0.25 -0.251,-0.25"
      />
      <path
        stroke="#FFF"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M14.029,4.139l7.659,13.404c0.89,1.558 -0.235,3.497 -2.029,3.497h-15.318c-1.795,0 -2.92,-1.939 -2.029,-3.497l7.659,-13.404c0.897,-1.571 3.161,-1.571 4.058,8.88178e-16Z"
      />
    </g>
  </svg>
</template>
