<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M22,5c0-1.66-1.34-3-3-3s-3,1.34-3,3c0,1.49,1.08,2.71,2.5,2.95v2.55c0,0.55-0.45,1-1,1h-11V7.95
      C7.92,7.71,9,6.49,9,5c0-1.66-1.34-3-3-3S3,3.34,3,5c0,1.49,1.08,2.71,2.5,2.95v8.1C4.08,16.29,3,17.51,3,19c0,1.66,1.34,3,3,3
      s3-1.34,3-3c0-1.49-1.08-2.71-2.5-2.95V12.5h11c1.1,0,2-0.9,2-2V7.95C20.92,7.71,22,6.49,22,5z M4,5c0-1.1,0.9-2,2-2s2,0.9,2,2
      c0,1.1-0.9,2-2,2S4,6.1,4,5z M8,19c0,1.1-0.9,2-2,2s-2-0.9-2-2c0-1.1,0.9-2,2-2S8,17.9,8,19z M19,7c-1.1,0-2-0.9-2-2
      c0-1.1,0.9-2,2-2s2,0.9,2,2C21,6.1,20.1,7,19,7z"/>
  </svg>
</template>
