<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M20 11V5C20 3.895 19.105 3 18 3H5C3.895 3 3 3.895 3 5V19C3 20.105 3.895 21 5 21H10"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M17.147 20.707L20.707 17.147C21.098 16.756 21.098 16.123 20.707 15.733L19.121 14.147C18.73 13.756 18.097 13.756 17.707 14.147L14.147 17.707C13.959 17.895 13.854 18.149 13.854 18.414V21H16.44C16.705 21 16.959 20.895 17.147 20.707Z"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M5.825 5.49C5.822 5.49 5.82 5.492 5.82 5.495C5.82 5.498 5.822 5.5 5.825 5.5C5.828 5.5 5.83 5.498 5.83 5.495C5.83 5.492 5.828 5.49 5.825 5.49"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M8.368 5.49C8.365 5.49 8.363 5.492 8.363 5.495C8.363 5.498 8.366 5.5 8.368 5.5C8.371 5.5 8.373 5.498 8.373 5.495C8.373 5.492 8.371 5.49 8.368 5.49"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M10.907 5.49C10.904 5.49 10.902 5.492 10.902 5.495C10.902 5.498 10.904 5.5 10.907 5.5C10.91 5.5 10.912 5.498 10.912 5.495C10.912 5.492 10.91 5.49 10.907 5.49"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M3.046 8H20"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M7 13H14"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M7 17H12"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
