<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g stroke-width="1.5" fill="none">
      <path
        d="M19.842,8.299l-6,-4.667c-1.083,-0.843 -2.6,-0.843 -3.684,0l-6,4.667c-0.731,0.568 -1.158,1.442 -1.158,2.368v7.333c0,1.657 1.343,3 3,3h12c1.657,0 3,-1.343 3,-3v-7.333c0,-0.926 -0.427,-1.8 -1.158,-2.368Z"
      />
      <path stroke-linecap="round" stroke-linejoin="round" d="M9,17h6" />
    </g>
  </svg>
</template>
