<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g
      stroke-linecap="round"
      stroke-width="1.5"
      stroke="#FFF"
      fill="none"
      stroke-linejoin="round"
    >
      <path
        d="M6.49121,15.5758c0.781049,0.781049 0.781049,2.04738 0,2.82843c-0.781049,0.781049 -2.04738,0.781049 -2.82843,0c-0.781049,-0.781049 -0.781049,-2.04738 -4.44089e-16,-2.82843c0.781049,-0.781049 2.04738,-0.781049 2.82843,0"
      />
      <path
        d="M13.4142,3.58479c0.781049,0.781049 0.781049,2.04738 0,2.82843c-0.781049,0.781049 -2.04738,0.781049 -2.82843,0c-0.781049,-0.781049 -0.781049,-2.04738 0,-2.82843c0.781049,-0.781049 2.04738,-0.781049 2.82843,-4.44089e-16"
      />
      <path
        d="M20.3372,15.5748c0.781049,0.781049 0.781049,2.04738 0,2.82843c-0.781049,0.781049 -2.04738,0.781049 -2.82843,0c-0.781049,-0.781049 -0.781049,-2.04738 0,-2.82843c0.781049,-0.781049 2.04738,-0.781049 2.82843,0"
      />
      <path
        d="M17.717,18.575c-1.451,1.489 -3.473,2.418 -5.717,2.418c-1.145,0 -2.23,-0.246 -3.213,-0.68"
      />
      <path
        d="M4.298,15.147c-0.56,-1.998 -0.352,-4.209 0.768,-6.149c0.574,-0.995 1.333,-1.813 2.204,-2.448"
      />
      <path
        d="M13.974,5.252c2.016,0.512 3.831,1.798 4.954,3.742c0.569,0.985 0.898,2.04 1.017,3.102"
      />
    </g>
  </svg>
</template>
