<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g
      stroke-linecap="round"
      stroke-width="1.5"
      fill="none"
      stroke-linejoin="round"
    >
      <path
        d="M14.293,12.707l6.414,-6.414c0.391,-0.391 0.391,-1.024 0,-1.414l-1.586,-1.586c-0.391,-0.391 -1.024,-0.391 -1.414,0l-6.414,6.414c-0.188,0.188 -0.293,0.442 -0.293,0.707v2.586h2.586c0.265,0 0.519,-0.105 0.707,-0.293Z"
      />
      <path d="M3,13h4" />
      <path d="M3,17h18" />
      <path d="M3,21h18" />
    </g>
  </svg>
</template>
