<template>
  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <g fill="none">      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M14.1213,9.87868c1.17157,1.17157 1.17157,3.07107 0,4.24264c-1.17157,1.17157 -3.07107,1.17157 -4.24264,0c-1.17157,-1.17157 -1.17157,-3.07107 0,-4.24264c1.17157,-1.17157 3.07107,-1.17157 4.24264,0"
      />
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        d="M16.18,18.725v0c0.503,0.503 1.32,0.503 1.823,0l0.722,-0.722c0.503,-0.503 0.503,-1.32 0,-1.823v0c-0.382,-0.382 -0.494,-0.955 -0.284,-1.453c0.022,-0.053 0.044,-0.106 0.065,-0.16c0.183,-0.466 0.637,-0.766 1.137,-0.766h0.067c0.712,0 1.289,-0.577 1.289,-1.289v-1.021c0,-0.712 -0.577,-1.289 -1.289,-1.289h-0.067c-0.5,0 -0.954,-0.301 -1.137,-0.766c-0.021,-0.054 -0.043,-0.107 -0.065,-0.16c-0.21,-0.498 -0.098,-1.071 0.284,-1.453v0c0.503,-0.503 0.503,-1.32 0,-1.823l-0.722,-0.722c-0.503,-0.503 -1.32,-0.503 -1.823,0v0c-0.382,0.382 -0.955,0.494 -1.453,0.284c-0.053,-0.022 -0.106,-0.044 -0.16,-0.065c-0.466,-0.186 -0.767,-0.641 -0.767,-1.141v-0.067c0,-0.712 -0.577,-1.289 -1.289,-1.289h-1.021c-0.713,0 -1.29,0.577 -1.29,1.289v0.067c0,0.5 -0.301,0.954 -0.766,1.137c-0.054,0.022 -0.107,0.043 -0.16,0.066c-0.498,0.21 -1.071,0.098 -1.453,-0.284v0c-0.503,-0.503 -1.32,-0.503 -1.823,0l-0.723,0.722c-0.503,0.503 -0.503,1.32 0,1.823v0c0.382,0.382 0.494,0.955 0.284,1.453c-0.023,0.054 -0.044,0.107 -0.065,0.161c-0.183,0.465 -0.638,0.766 -1.138,0.766h-0.067c-0.712,0 -1.289,0.577 -1.289,1.289v1.021c0,0.713 0.577,1.29 1.289,1.29h0.067c0.5,0 0.954,0.301 1.137,0.766c0.021,0.054 0.043,0.107 0.065,0.16c0.21,0.498 0.098,1.071 -0.284,1.453v0c-0.503,0.503 -0.503,1.32 0,1.823l0.722,0.722c0.503,0.503 1.32,0.503 1.823,0v0c0.382,-0.382 0.955,-0.494 1.453,-0.284c0.053,0.022 0.106,0.044 0.16,0.065c0.466,0.183 0.766,0.637 0.766,1.137v0.067c0,0.712 0.577,1.289 1.289,1.289h1.021c0.712,0 1.289,-0.577 1.289,-1.289v-0.067c0,-0.5 0.301,-0.954 0.766,-1.137c0.054,-0.021 0.107,-0.043 0.16,-0.065c0.501,-0.209 1.074,-0.097 1.457,0.285Z"
      />
    </g>
  </svg>
</template>
