<template>
  <button
    class="jam-btn"
    v-bind:class="[
      disable ? 'disable' : '',
      secondary ? 'secondary' : 'primary',
    ]"
    @click="onClick"
  >
    {{ text }}
    <div v-if="working === true" class="spin">
      <Cicon icon="loading" size='20px'/>
    </div>
  </button>
</template>

<script>
import Cicon from '../shared/Cicon.vue'

export default {
  name: 'Button',
  components: {
    Cicon
  },
  props: {
    text: {
      type: String,
      required: true
    },
    onClick: {
      type: Function,
      required: true
    },
    disable: {
      type: Boolean,
      required: false,
      default: false
    },
    secondary: {
      type: Boolean,
      required: false,
      default: false
    },
    working: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {}
}
</script>

<style scoped lang="scss">
.jam-btn {
  position: relative;
  width: fit-content;
  padding: 8px 36px 8px 36px;
  text-align: center;
  font-size: 12px;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  transition: background-color 0.4s;
}
.primary {
  background-color: rgba(237, 30, 121, 1);
}
.primary:hover {
  background-color: rgba(237, 30, 121, 0.9);
}
.secondary {
  border: 1px solid rgb(179, 179, 179);
}
.secondary:hover {
  background-color: rgba(255, 255, 255, 0.02);
}
.disable {
  pointer-events: none;
  opacity: 0.6;
}
.spin {
  position: absolute;
  right: 8px;
  top: 6px;
  opacity: 0.6;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
