<template>
  <div class="jam-btn">
    <div class="icn">
      <i class="fas fa-long-arrow-alt-right"/>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Button-icon',
  props: {
    msg: String
  },
  methods: {

  }
}
</script>

<style scoped lang="scss">
.jam-btn {
  display: flex;
  margin: 24px 0 0 0;
  text-align: left;
}
.icn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  border: 1px solid rgba(128, 128, 156, 1);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  text-align: center;
  color: rgb(138, 180, 248);
}

</style>
