<template>
  <div class="cIcon" :style="cssVars" v-bind:class="classes">
    <div class="jam-icon">
      <component :is="iComp"></component>
    </div>
    <div class="jam-icon-circle" v-if="!hideHover"></div>
  </div>
</template>

<script>
import Arrow from '../icons/Arrow.vue'
import ArrowLeft from '../icons/ArrowLeft.vue'
import Checkbox from '../icons/Checkbox.vue'
import CheckboxChecked from '../icons/CheckboxChecked.vue'
import Clock from '../icons/Clock.vue'
import Close from '../icons/DeleteDisable1.vue'
import Default from '../icons/Default.vue'
import Disk from '../icons/Disk.vue'
import Dots from '../icons/Dots.vue'
import EditPage from '../icons/PenEdit11.vue'
import Error from '../icons/Error.vue'
import File from '../icons/DocumentsFileList.vue'
import FileTree from '../icons/ProgramingData.vue'
import Gear from '../icons/Settings7.vue'
import Git from '../icons/Git.vue'
import House from '../icons/HomeHouseLine.vue'
import Loading from '../icons/Loading.vue'
import Pencil from '../icons/Pencil.vue'
import Plus from '../icons/PlusAdd1.vue'
import Search from '../icons/Search.vue'

export default {
  name: 'Cicon',
  props: {
    icon: {
      type: String,
      required: false,
      default: 'file'
    },
    hideHover: {
      type: Boolean,
      required: false,
      default: false
    },
    size: {
      value: [String, Array],
      required: false,
      default: '24px'
    },
    color: {
      value: [String, Array],
      required: false,
      default: 'rgba(255, 255, 255, .8)'
    },
    classes: {
      type: String,
      required: false,
      default: ''
    }
  },
  components: {
    Arrow,
    ArrowLeft,
    Checkbox,
    CheckboxChecked,
    Clock,
    Close,
    Default,
    Disk,
    Dots,
    EditPage,
    Error,
    File,
    FileTree,
    Gear,
    Git,
    House,
    Loading,
    Pencil,
    Plus,
    Search
  },
  computed: {
    iComp () {
      switch (this.icon) {
        case 'arrow':
          return 'Arrow'
        case 'arrow-left':
          return 'ArrowLeft'
        case 'checkbox':
          return 'Checkbox'
        case 'checkbox-checked':
          return 'CheckboxChecked'
        case 'clock':
          return 'Clock'
        case 'close':
          return 'Close'
        case 'dots':
          return 'Dots'
        case 'disk':
          return 'Disk'
        case 'edit-page':
          return 'EditPage'
        case 'error':
          return 'Error'
        case 'file':
          return 'File'
        case 'file-tree':
          return 'FileTree'
        case 'gear':
          return 'Gear'
        case 'house':
          return 'House'
        case 'loading':
          return 'Loading'
        case 'plus':
          return 'Plus'
        default:
          return 'Default'
      }
    },
    cssVars () {
      return {
        '--icon-size': this.size,
        '--icon-color': this.color
      }
    }
  }
}
</script>

<style scoped lang="scss">
.cIcon {
  width: var(--icon-size);
  height: var(--icon-size);
  position: relative;
  flex-basis: var(--icon-size);
  flex-grow: 0;
  flex-shrink: 0;
  fill: var(--icon-color);
  stroke: var(--icon-color);
  border-radius: 50%;
}
.jam-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}
.jam-icon-circle {
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.cIcon:hover .jam-icon-circle {
  opacity: 1;
}
</style>
