<template>
  <div class="cinput">
    <Clabel v-bind:label="label" v-if="label" />
    <input
      v-bind:type="password ? 'password' : 'text'"
      class="inputbox"
      v-model="model"
      v-bind:placeholder="placeholder"
      @keydown="nameKeydown"
    />
  </div>
</template>

<script>
import Clabel from './Clabel.vue'

export default {
  name: 'Cinput',
  components: {
    Clabel
  },
  props: {
    value: {
      type: String,
      required: false
    },
    label: {
      type: String,
      required: false
    },
    placeholder: {
      type: String,
      required: false
    },
    password: {
      type: Boolean,
      required: false,
      default: false
    },
    alphanum: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (v) {
        this.$emit('input', v)
      }
    }
  },
  methods: {
    nameKeydown (e) {
      if (this.alphanum) {
        if (/^\W$/.test(e.key)) {
          e.preventDefault()
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
.inputbox {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 0 8px 0 8px;
  color: rgb(242, 242, 242);
  background-color: rgb(16, 16, 16);
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 8px;
  outline: none;
  transition: border 0.4s;
  font-size: 14px;
}
.inputbox:focus {
  background-color: rgba(242, 242, 242, 0.95);
  color: rgba(0, 0, 0, 0.8);
}
</style>
