<template>
  <div class="jammenu"  @click="switchOpen()" v-click-outside="switchClose" v-bind:class="{ jamselectopen: isOpen }">
      <slot></slot>
      <div class="jammenuoptions" v-if="isOpen" >
        <div class="jammenuoptionlist">
          <div
            v-for="item in options"
            v-bind:key="item.index"
            class="jammenuoption"
             v-bind:class="[
              item === selected ? 'active' : '',
              String(item).includes('...') ? 'disabled' : '',
            ]"
             v-on:click="setSelect(item)"
          >
            {{item}}
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import Clabel from './Clabel.vue'
import Cicon from './Cicon.vue'
import ClickOutside from '../../helpers/outside'

export default {
  name: 'Cmenu',
  components: {
    Clabel,
    Cicon
  },
  props: {
    options: {
      type: Array,
      required: false
    },
    onSelect: {
      type: Function,
      required: true
    },
    selected: {
      type: String,
      required: false
    }
  },
  data () {
    return {
      isOpen: false
    }
  },
  methods: {
    switchOpen: function () {
      this.isOpen = !this.isOpen
    },
    switchClose: function () {
      this.isOpen = false
    },
    setSelect: function (item) {
      this.onSelect(item)
    }
  },
  mounted () {
    this.popupItem = this.$el
  },
  directives: {
    ClickOutside
  }
}
</script>

<style scoped lang="scss">
.jammenu {
    position: relative;
}
.jammenuoptions {
    position: absolute;
    z-index: 999;
    top: 100%;
    right: 0;
    width: 320px;
    margin: 8px 0 0 0;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
    box-shadow: 0px 6px 12px #000000;
    box-shadow: 0px 2px 6px #000000;
    animation-name: openoptions;
    animation-duration: .4s
}
.jammenuoptionlist {
    background-color: rgba(242, 242, 242, 1);
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-radius: 8px;
}
.jammenuoption {
    padding: 10px 8px 10px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.jammenuoption:hover {
    background-color: rgba(0, 0, 0, .05);
}
.jammenuoptions .active {
    background-color: rgba(0, 0, 20, .05);
    color: rgba(26, 28, 30, 1);
    font-weight: 600;
}
.jammenuoptions .disabled {
opacity: .4;
}

@keyframes openoptions {
  from {opacity: 0;}
  to {opacity: 1;}
}
</style>
