<template>
  <div id="jam-modal">
    <div class="jam-modal-header">
      {{title}}
      <div class="close" v-on:click="onSecondary">
        <Cicon icon="close" />
      </div>
    </div>

    <div class="jam-modal-content">
      <slot name="content"></slot>
    </div>

    <div class="jam-modal-cta">
      <Cbutton v-bind:text="SecondaryLabel" v-bind:onClick="onSecondary" secondary />
      <Cbutton
        v-bind:text="PrimaryLabel"
        v-bind:onClick="onPrimary"
        v-if="PrimaryLabel && onPrimary"
        v-bind:disable="disable"
      />
    </div>
  </div>
</template>

<script>
import Clabel from './Clabel.vue'
import Cicon from './Cicon.vue'
import ClickOutside from '../../helpers/outside'
import Cbutton from '../shared/Button.vue'

export default {
  name: 'Cselect',
  components: {
    Cbutton,
    Clabel,
    Cicon
  },
  props: {
    value: {
      type: String,
      required: false
    },
    title: {
      type: String,
      required: false
    },
    options: {
      type: Array,
      required: false
    },
    SecondaryLabel: {
      type: String,
      required: false,
      default: 'Cancel'
    },
    onSecondary: {
      type: Function,
      required: true
    },
    PrimaryLabel: {
      type: String,
      required: false
    },
    onPrimary: {
      type: Function,
      required: false
    },
    disable: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    model: {
      get () {
        return this.value
      },
      set (v) {
        this.$emit('input', v)
      }
    }
  },
  mounted () {
    // prevent click outside event with popupItem.
    this.popupItem = this.$el
  },
  // do not forget this section
  directives: {
    ClickOutside
  }
}
</script>

<style scoped lang="scss">
#jam-modal {
  position: absolute;
  top: 96px;
  right: 16px;
  left: 16px;
  z-index: 9999;
  box-sizing: border-box;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 8px;
  background-color: rgb(32, 32, 32);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  animation: open-modal .4s ease-out;
}
.jam-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(51, 51, 51);
  padding: 16px;
}
.jam-modal-content {
  padding: 16px 16px 0 16px;
}
.jam-modal-cta {
  padding: 32px 16px 16px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.jam-modal-cta .jam-btn {
  margin: 0 0 0 8px;
}

@keyframes open-modal {
    from {transform: translateY(-300px);}
    to {transform: translateY(0px);}
}
</style>
