<template>
  <div>

    <div class="jam-status" v-if="status === 'error'">
      <div class="jam-status-icon">
        <Cicon icon='error' size="64px"/>
      </div>{{error}}
    </div>

    <div class="jam-status" v-else-if="status === 'loading'">
      <div class="jam-status-icon jam-status-loading">
        <Cicon icon='loading' size="64px"/>
      </div>Loading...
    </div>

    <div class="jam-status" v-else>
      <div class="jam-status-icon jam-status-loading">
      </div>{{error}}
    </div>

  </div>
</template>

<script>
import Cicon from './Cicon.vue'

export default {
  name: 'Cstatus',
  components: {
    Cicon
  },
  props: {
    status: {
      type: String,
      required: false,
      default: 'loading'
    },
    error: {
      type: String,
      required: false,
      default: 'Error loading the file'
    }
  },
  computed: {
    cssVars () {
      return {
        '--icon-size': this.size,
        '--icon-color': this.color
      }
    }
  }
}
</script>

<style scoped lang="scss">
.jam-status {
  margin: 160px auto 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  animation: fade 2.4s;
}
.jam-status-icon {
  width: 64px;
  margin: 0 auto 8px auto;
  opacity: 0.8;
}
.jam-status-loading {
  animation: spin 2.4s infinite;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
</style>
