<template>
  <div class="cinput">
    <Clabel v-bind:label="label" v-if="label"/>
    <textarea
      class="inputbox"
      v-model="model"
      v-bind:placeholder="placeholder"
      rows="24"
    />
  </div>
</template>

<script>
import Clabel from './Clabel.vue'

export default {
  name: 'Ctextarea',
  components: {
    Clabel
  },
  props: {
    value: {
      type: String,
      required: false
    },
    label: {
      type: String,
      required: false
    },
    placeholder: {
      type: String,
      required: false
    }
  },
  computed: {
    model: {
      get () { return this.value },
      set (value) { this.$emit('input', value) }
    }
  }
}
</script>

<style scoped lang="scss">
.inputbox {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 8px 8px 8px;
  color: rgb(242, 242, 242);
  background-color: rgb(16, 16, 16);
  border: 1px solid rgba(51, 51, 51, .5);
  border-radius: 8px;
  outline: none;
  transition: border .4s;
  font-size: 14px;
  resize: none;
}
.inputbox:focus {
  border: 1px solid rgba(255, 255, 255, .1);
}

</style>
