<template>
    <div class="searchbar">
        <Cicon icon='Search' />
        <input placeholder="Search or filter..."/>
    </div>
</template>

<script>
import Cicon from './Cicon.vue'

export default {
  name: 'ViewEdit',
  props: {
  },
  components: {
    Cicon
  },
  methods: {
    onPushLive: function () {

    }
  }
}
</script>

<style scoped lang="scss">
  .searchbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    padding: 0 16px 0 16px;
  }
  .jamcheckbox {
    padding: 0!important;
  }
  .searchbar input {
      background: none;
      border: none;
      flex-grow: 1;
      height: 40px;
      padding: 0 16px 0 16px;
      color: rgba(255, 255, 255, .8);
  }
  .searchbar input::placeholder {
      color: rgba(255, 255, 255, .25);
  }
</style>
